
/* Your CSS Code here. */

.item{
	 background-color: #3498db; 
    color: #fff; 
    padding: 20px; 
    text-align: center;
}

.holder{
	 display:grid;
	width:200px;
	height:200px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}